body {
    background-image: linear-gradient(grey, black);
    background-attachment: fixed;
    overflow-x: hidden;
    font-family: "Inter Tight", sans-serif;
}

#container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#lyrics {
    line-height: 200%;
    flex-basis: 50%;
    padding-left: 2rem;
    color: white;
}

#thumb-container {
    flex-basis: 40%;
}

#thumbnail {
    position: fixed;
}

#thumbnail h1 {
    background-color: white;
    font-size: 3rem;
    text-align: center;
    border-radius: 5px;
}