#container, html, body {
    height: 100%;
}

body {
    margin-top: 1em;
    height: 95%;
}

#container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    text-align: center;
}

.col {
    flex-basis: 30%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 0.25em;
    height: 100%;
    padding-bottom: 1em;
}

#song-meta {
    width: 100%;
    overflow-y: auto;
}

#thumbnail img {
    max-width: 100%;
    max-height: 60%;
    border-style: solid;
    border-color: rgb(25, 25, 25);
    border-radius: 5px;
}

#thumbnail h1 {
    color: white;
    background: rgb(10, 10, 10);
    font-size: 1.75em;
    border-style: solid;
    border-color: rgb(25, 25, 25);
    border-radius: 5px;
    width: 100%;
    text-shadow: 0px 0px 5px red;
    margin-top: 0.1em;
}

#credit {
    font-size: 0.75em;
    align-self: flex-start;
    text-decoration: none;
    color: rgb(50, 50, 50);
    transition: color 0.5s;
}

#credit:hover {
    color: red;
}

#guidance {
    font-size: 0.75em;
}

.content {
    width: 100%;
    padding: 0.5em;
    line-height: 200%;
    overflow-y: auto;
    scrollbar-color: white black;
    border-radius: 5px;
    background-color: rgb(10, 10, 10);
    border-style: solid;
    border-color: rgb(25, 25, 25);
}

#analysis h2 {
    text-decoration: underline;
}

.header {
    display: flex;
    justify-content: space-around;
    width: 100%;
    align-items: center;
}

#back {
    color: white;
    text-decoration: none;
}

#back:hover {
    color: red;
}

.btn {
    font-size: 1.25em;
}

.lyric-line {
    border-radius: 5px;
    user-select: none;
}

/*responsiveness*/
@media screen and (max-width: 1000px) {
    #container, html, body {
        height: auto;
    }
    .col {
        flex-basis: 45%;
        height: 75vh;
    }
    #lyrics-col {
        flex-basis: 80%;
    }
}
@media screen and (max-width: 650px) {
    .content {
        line-height: 150%;
    }
    .col {
        height: auto;
        flex-basis: 80%;
    }
    #thumbnail img {
        max-height: none;
    }
}