#container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 1em;
    gap: 1em;
}

#back {
    color: black;
    text-decoration: none;
    font-size: 2em;
}

#l-top {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

#l-header {
    margin: 0;
}

#deselect {
    padding: 0.25em;
    font-size: 1em;
    background-color: black;
    color: white;
    border-radius: 5px;
    text-decoration: bold;
    width: 25%;
}

#lyrics-container {
    max-height: 85vh;
    overflow-y: auto;
    scrollbar-color: white black;
    direction: rtl;
    border-color: black;
    border-style: double;
    border-radius: 5px;
    width: 100%;
}

#lyrics {
    padding-left: 1em;
    line-height: 200%;
    color: white;
    direction: ltr;
}

.lyric-line {
    border-radius: 5px;
    user-select: none;
}

.col {
    flex-basis: 30%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 0.25em;
}

#analyze-button {
    padding: 0.25em;
    font-size: 2em;
    background-color: black;
    color: white;
    border-radius: 5px;
    text-decoration: bold;
    width: 40%;
}

#analyze-button:hover {
    box-shadow: 0px 0px 10px black;
}

#guidance {
    font-size: 0.75em;
    color: white;
    text-align: center;
}

#analysis-container {
    width: 100%;
    max-height: 75vh;
    overflow-y: auto;
    scrollbar-color: black white;
    background-color: white;
    border-color: black;
    border-style: double;
    border-radius: 5px;
}

#analysis {
    padding: 0.5em;
    line-height: 200%;
    color: white;
    text-align: center;
    color: black;
}

#thumbnail img {
    width: 100%;
    border-style: solid;
    border-color: white;
    border-radius: 5px;
}

#thumbnail h1 {
    background-color: white;
    font-size: 1.75em;
    text-align: center;
    border-radius: 5px;
}

@media screen and (max-width: 1000px) {
    .col {
        flex-basis: 45%;
    }
}
@media screen and (max-width: 500px) {
    #lyrics-container {
        max-height: none;
    }
    #analysis-container {
        max-height: none;
    }
    .col {
        flex-basis: 80%;
    }
}