#container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 1em;
    gap: 1em;
}

#left-side {
    flex-basis: 30%;
}

#back {
    color: black;
    text-decoration: none;
    font-size: 2em;
}

#l-header {
    display: inline-block;
    margin: 0;
    width: 75%;
    text-align: center;
    text-decoration: underline;
}

#lyrics-container {
    margin-top: 0.5em;
    height: 80vh;
    overflow-y: auto;
    scrollbar-color: white black;
    direction: rtl;
    border-color: black;
    border-style: double;
    border-radius: 5px;
}

#lyrics {
    padding-left: 1em;
    line-height: 200%;
    color: white;
    direction: ltr;
}

#analysis-container {
    flex-basis: 30%;
}

#analyze-button {
    padding: 0.25em;
    font-size: 2.5em;
    display: block;
    margin: auto;
    background-color: black;
    color: white;
    border-radius: 5px;
    text-decoration: bold;
}

#analyze-button:hover {
    box-shadow: 0px 0px 10px black;
}

#guidance {
    font-size: 0.75em;
    color: white;
    text-align: center;
}

#analysis {
    max-height: 70vh;
    flex-basis: 30%;
    overflow-y: auto;
    scrollbar-color: black white;
    padding: 0.5em;

    margin-top: 1em;
    line-height: 200%;
    color: white;
    text-align: center;

    color: black;
    background-color: white;
    border-color: black;
    border-style: double;
    border-radius: 5px;

}

#thumb-container {
    flex-basis: 30%;
    padding-top: 3em;
}

#thumbnail img {
    width: 100%;
    height: auto;
    border-style: solid;
    border-color: white;
    border-radius: 5px;
}

#thumbnail h1 {
    background-color: white;
    font-size: 2em;
    text-align: center;
    border-radius: 5px;
}

@media screen and (max-width: 1000px) {
    /*move song info down, only show lyrics and analysis*/
    #thumb-container {
        flex-basis: 50%;
    }
    #lyrics-container {
        flex-basis: 45%;
    }
    #analysis-container {
        flex-basis: 45%;
    }
}
@media screen and (max-width: 500px) {
    /*move song info down, only show lyrics and analysis*/
    #thumb-container {
        flex-basis: 80%;
    }
    #lyrics-container {
        flex-basis: 80%;
    }
    #analysis-container {
        flex-basis: 80%;
    }
}