#container, html, body {
    height: 100%;
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
}

#header {
    text-decoration: underline;
    font-size: 3.5em;
}

.side-flex {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    gap: 1em;
}

h1 {
    font-size: 2.5em;
}

input {
    color: white;
    font-size: 1.5em;
    margin: 0.5em;
    width: 50%;
    border-style: solid;
    border-radius: 5px;
    border-color: rgb(25, 25, 25);
    background-color: rgb(10, 10, 10);
}