#container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

#inputs {
    display: flex;
    justify-content: center;
    margin-bottom: 3em;
    flex-wrap: wrap;
}

.query {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

#top {
    text-decoration: underline;
    font-size: 4em;
    margin-bottom: 2em;
}

h1 {
    text-align: center;
    font-size: 3em;
}

a {
    user-select: none;
    font-size: 2em;
    border-style: solid;
    border-color: black;
    border-radius: 5px;
    padding: 0.5em 1em;
    transition: color 0.5s;
}

a:hover {
    color: white;
}

input {
    font-size: 2em;
    margin: 1em;
    color: black;
    background-color: rgb(50, 50, 50);
}

#feedback {
    font-size: 2em;
    padding: 1em;
    color: transparent;
    background: linear-gradient(black, white);
    background-clip: text;
}

#buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}